[submodule "docs/website"]
	path = docs/website
	url = https://github.com/theunnecessarythings/sr-lang-docs
[submodule "tools/astexplorer"]
	path = tools/astexplorer
	url = https://github.com/theunnecessarythings/astexplorer
[submodule "third-party/triton"]
	path = third-party/triton
	url = https://github.com/theunnecessarythings/triton.git
